<footer>
   <div class="row">
      <div class="col">
        <a href="#" class="text-lightblue fw-bold fs-2" >Healthy Care</a>
        <p>Sứ mạng: Phòng khám tư nhân HealthyCare cam kết cung cấp dịch vụ chăm sóc sức khỏe chất lượng cao, tạo cơ hội tiếp cận dịch vụ y tế chuyên nghiệp và toàn diện cho mọi người. Chúng tôi nỗ lực xây dựng môi trường chăm sóc sức khỏe thân thiện, tận tâm, góp phần nâng cao sức khỏe cộng đồng và cải thiện chất lượng cuộc sống cho từng bệnh nhân thông qua các phương pháp điều trị hiệu quả, linh hoạt và đáng tin cậy.</p>
      </div>
      <div class="col">
        <h3>Liên hệ<div class="underline"><span></span></div></h3>
        <p>943 Lê Văn Lương, Xã Phước Kiển, Huyện Nhà Bè, TP.Hồ Chí Minh</p>
        <p><span class="email-id">Gmail: <a href="mailto:ou.edu.vn">hotro@ou.edu.vn.</a></span></p>
        <p>Phone number: 028-38364748.</p>
       <h4>Google Maps:</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.8294822954347!2d106.6918745!3d10.7607449!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f114014707f%3A0x3f198b980ca59fdf!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBN4bufIFRQLkhDTSAtIEPGoSBz4bufIDI!5e0!3m2!1svi!2s!4v1690515594739!5m2!1svi!2s" width="350" height="300" style="border:0;margin-top:0.6rem" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col">
        <h3>Các cơ sở trực thuộc<div class="underline"><span></span></div></h3>
        <ul>
            <li>Địa điểm 1:97 Võ Văn Tần, P. Võ Thị Sáu, Q. 3, TP. Hồ Chí Minh.</li>
            <li>Địa điểm 2:35-37 Hồ Hảo Hớn, P. Cô Giang, Q. 1 , TP. Hồ Chí Minh.</li>
            <li> Địa điểm 3:371 Nguyễn Kiệm, P. 3, Q. Gò Vấp, TP. Hồ Chí Minh. </li>
            <li>Địa điểm 4:02 Mai Thị Lựu, P. Đa Kao, Q. 1, TP. Hồ Chí Minh. </li>
            <li>Địa điểm 5:68 Lê Thị Trung, P. Phú Lợi, TP. Thủ Dầu Một,Tỉnh Bình Dương.</li>
            <li>Địa điểm 6:Đường số 9, P. Long Bình Tân,TP. Biên Hòa, Tỉnh Đồng Nai. </a></li>
            <li>Địa điểm 7:Số 04 đường Tân Định, P. Ninh Hiệp, Thị Xã Ninh Hòa,Tỉnh Khánh Hòa.</li>
        </ul>
      </div>
      <div class="col">
        <h3>Tin tức <div class="underline"><span></span></div></h3>
        <form class="form">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" placeholder="Nhập email..." required>
          <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
        <div class="social-icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
      </div>
   </div>
   <hr>
   <p class="copyright"><i class="fa-regular fa-copyright"></i> 2024 </p>
</footer>
<div class="back_to_top">
    <span><i class="fa-solid fa-arrow-up"></i></span>
</div>