<header class="bg-light py-3 shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="#" class="text-lightblue fw-bold fs-4">Healthy Care</a>
        <nav class="d-none d-lg-block">
            <ul class="list-unstyled d-flex mb-0">
                <li class="me-3">
                    <div class="dropdown">
                        <a href="{{url_for('main.index_login')}}">
                            <button class="btn btn-white bt-hover" type="button" id="homeButton">Trang Chủ</button>
                        </a>
                    </div>
                </li>
                <li class="me-3">
                    <div class="dropdown">
                        <a href="/indexLogin#gioithieuSection1" id="introButtonLink">
                            <button class="btn btn-white bt-hover" type="button" id="introButton">Giới Thiệu</button>
                        </a>
                    </div>
                </li>
                <li class="me-3">
                    <div class="dropdown">
                        <button class="btn btn-white dropdown-toggle bt-hover" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Chuyên Khoa <i class="bi bi-chevron-down" id="dropdownIcon3"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li><a class="dropdown-item" href="/CDCHLogin">1. Khoa chuẩn hóa hình ảnh</a></li>
                            <li><a class="dropdown-item" href="/CXKLogin">2. Khoa cơ- xương- khớp</a></li>
                            <li><a class="dropdown-item" href="/NhiKhoaLogin">3. Khoa nhi khoa</a></li>
                            <li><a class="dropdown-item" href="/SPKLogin">4. Khoa sản-phụ khoa</a></li>
                            <li><a class="dropdown-item" href="/RHMLogin">5. Răng - Hàm - Mặt</a></li>
                            <li><a class="dropdown-item" href="/DaLieuLogin">6. Khoa Da Liễu</a></li>
                        </ul>
                    </div>
                </li>
                <li class="me-3">
                    <div class="dropdown bt-hover">
                        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Gói Khám <i class="bi bi-chevron-down" id="dropdownIcon4"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a class="dropdown-item" href="/packageNormalLG">Gói Khám Normal</a></li>
                            <li><a class="dropdown-item" href="/packageVIPLG">Gói Khám VIP</a></li>
                        </ul>
                    </div>
                </li>
                <li class="me-3">
                    <div class="dropdown bt-hover">
                        <a href="#section2" id="contactButton">
                            <button class="btn btn-white" type="button">
                                Liên Hệ
                            </button>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="d-flex align-items-center">
            <!-- Notification Icon -->
            <div class="dropdown notification me-3">
                <i class="bi bi-bell fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <span class="badge">3</span>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Thông báo 1</a></li>
                    <li><a class="dropdown-item" href="#">Thông báo 2</a></li>
                    <li><a class="dropdown-item" href="#">Thông báo 3</a></li>
                </ul>
            </div>
            <div class="dropdown btnDrop">
                <div class="d-flex align-items-center btnLogin avt" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://res.cloudinary.com/dwylms8iz/image/upload/v1733337201/cld-sample-5.jpg"
                         alt="Avatar"
                         class="rounded-circle">
                    <div>
                        <div class="fw-bold">Cá nhân</div>
                        <div>{{ name_user }}</div>
                    </div>
                </div>
                <ul class="dropdown-menu dropdown-menu-end dropdownHello">
                    <li>Chào, {{ name_user }}</li><hr>
                    <li><a class="dropdown-item" href="/medicalBook">Sổ tay khám bệnh</a></li>
                    <li><a class="dropdown-item" href="/passwd">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="{{url_for('main.logout_process')}}">Đăng Xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">