{% extends 'home_admin.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/admin/addAdmin.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_admin.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
{% endblock %}
{% block left %}
<div class="left">
    <div class="left col-md-3">
        <div class="sidebar" id="sidebar">
            <a class="menu-item" href="/admin">
                <span><i class="fa-solid fa-house"></i></span>
                <h3>Trang chủ</h3>
            </a>
            <a class="menu-item " href="/regulations">
                <span><i class="fa-solid fa-briefcase"></i></span>
                <h3>Thay đổi quy định</h3>
            </a>
            <a class="menu-item" href="/report">
                <span><i class="fa-regular fa-flag"></i></span>
                <h3>Thống kê báo cáo</h3>
            </a>
            <a class="menu-item" href="/searchAdmin">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                <h3>Tra cứu</h3>
            </a>
            <a class="menu-item" id="theme">
                <span><i class="fa-solid fa-palette"></i></span>
                <h3>Theme</h3>
            </a>
            <a class="menu-item" href="/addAdmin">
                <span><i class="fa-solid fa-user"></i></span>
                <h3>Thêm Tài Khoản</h3>
            </a>
            <a class="menu-item " href="/addDepartment">
                <span><i class="fa-solid fa-user"></i></span>
                <h3>Thêm Khoa</h3>
            </a>
            <a class="menu-item active" href="/addMedicine">
                <span><i class="fa-solid fa-user"></i></span>
                <h3>Thêm Thuốc</h3>
            </a>
            <a class="menu-item" href="/settingAdmin">
                <span><i class="fa-solid fa-gear"></i></span>
                <h3>Cài Đặt</h3>
            </a>
            <a href="/" class="menu-item logout">
                <span><i class="fas fa-sign-out-alt"></i></span>
                <h3>Đăng Xuất</h3>
            </a>
        </div>
    </div>

</div>
{% endblock %}

{% block middle %}
<h2 class="mb-4">Thêm Thuốc</h2>
        <form method="POST" action="{{ url_for('admin.add_user_ad') }}" class="needs-validation" novalidate>
            <!-- Tên tài khoản -->
            <div class="mb-3">
                <label for="name_account" class="form-label margin-rg">Tài khoản:</label>
                <input type="text" id="name_account" name="name_account" class="form-control" required>
                <div class="invalid-feedback">Vui lòng nhập tên tài khoản.</div>
            </div>
            <!-- Mật khẩu -->
            <div class="mb-3">
                <label for="password" class="form-label margin-rg">Mật khẩu:</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <div class="invalid-feedback">Vui lòng nhập mật khẩu.</div>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label margin-rg-3">Nhập Lại Mật Khẩu:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Nhập lại mật khẩu" required>
                <div class="invalid-feedback">Vui lòng nhập lại mật khẩu.</div>
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label margin-rg-1 ">Email:</label>
                <input type="email" id="email" name="email" class="form-control" maxlength="150" required>
                <div class="invalid-feedback">Vui lòng nhập email hợp lệ.</div>
            </div>
            <!-- Vai trò -->
            <div class="mb-3 margin-rg">
                <label for="role" class="form-label margin-rg-1 ">Vai trò:</label>
                <select id="role" name="role" class="form-select" required>
                    {% for role in roles %}
                    <option value="{{ role.name }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Vui lòng chọn vai trò.</div>
            </div>
             <button type="submit" class="btn btn-primary w-100">Thêm Thuốc</button>
{% endblock %}



{% block right %}

{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/admin/regulations.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/addAdmin.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}