{% extends 'medicalBook.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/medicalBook.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/medicalbook/bill.css') }}"/>
{% endblock %}
 {% block left %}
        <div class="left">
            <a class="profile">
                <div class="handle">
                    <h4>Sổ Tay Khám Bệnh</h4>
                </div>
            </a>
            <div class="sidebar ">
                <a class="menu-item" href="/medicalBook">
                    <span><i class="fa-solid fa-house"></i></span>
                    <h3>Hồ Sơ Cá Nhân</h3>
                </a>
                <a class="menu-item" href="/schedule">
                    <span><i class="fa-regular fa-compass"></i></span>
                    <h3>Lịch Hẹn</h3>
                </a>
                <a class="menu-item active" id="messages-notification" href="/bill">
                    <span><i class="fa-solid fa-receipt"><small class="notification-count"> 6</small></i></span>
                    <h3>Hóa Đơn Thanh Toán</h3>
                </a>
                <a class="menu-item" id="theme" href="/history">
                    <span><i class="fa-solid fa-file-medical"></i></span>
                    <h3>Lịch Sử Khám Bệnh</h3>
                </a>
                <a class="menu-item"  href="/indexLogin">
                    <span><i class="fa-solid fa-gear"></i></span>
                    <h3>Thoát</h3>
                </a>
            </div>
        </div>
        {% endblock %}
        {% block middle %}
       <div class="appointment-wrapper">
        <div class="header-title">Hóa Đơn Thanh Toán</div>

        <div class="appointment-card">
            <button class="close-btn">&times;</button>
            {% for hoadon in ds_hoadon %}
            <div class="appointment-title">Hóa Đơn Thanh Toán Khám  Ngày {{ hoadon.ngay_lap }} </div>
            <p>Tiền Khám : {{ hoadon.tong_tien }} VND </p>
            {% if hoadon.trangthai   %}
            <p>Đã thanh toán </p>
            {% else %}
             <p>Chưa thanh toán </p>
            <button class="details-btn" onclick="showDetails('Hẹn Khám Bệnh ', '{{ hoadon.tong_tien }}', '{{ hoadon.phieu_kham.patient.name }}', '{{ hoadon.id}}')">Thanh Toán</button>
             {% endif %}

            {% endfor %}
        </div>

    </div>
    <div class="modal" id="detailsModal">
        <div class="modal-content">
            <h3>Hóa Đơn Thanh Toán</h3>
            <button class="modal-close" onclick="closeModal()">&times;</button>
            <form class="modal-form" action ='/bill' method="post">
                <label for="nurseName">Tên bệnh nhân</label>
                <input type="text" id="nurseName" readonly>
                <label for="appointmentMoney">Tổng tiền </label>
                <input type="text" id="appointmentMoney" name = "appointmentMoney" value="100000" readonly>

                <input id="appointmentID" name="appointmentID" type="hidden" readonly >
                <button class="details-btn" type="submit">Thanh Toán</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/medicalbook/bill.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}