{% extends 'medicalBook.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/medicalBook.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/medicalbook/schedule.css') }}"/>

{% endblock %}
 {% block left %}
        <div class="left">
            <a class="profile">
                <div class="handle">
                    <h4>Sổ Tay Khám Bệnh</h4>
                </div>
            </a>
            <div class="sidebar ">
                <a class="menu-item" href="/medicalBook">
                    <span><i class="fa-solid fa-house"></i></span>
                    <h3>Hồ Sơ Cá Nhân</h3>
                </a>
                <a class="menu-item active" href="/schedule">
                    <span><i class="fa-regular fa-compass"></i></span>
                    <h3>Lịch Hẹn</h3>
                </a>
                <a class="menu-item" id="messages-notification" href="/bill">
                    <span><i class="fa-solid fa-receipt"><small class="notification-count"> 6</small></i></span>
                    <h3>Hóa Đơn Thanh Toán</h3>
                </a>
                <a class="menu-item" id="theme" href="/history">
                    <span><i class="fa-solid fa-file-medical"></i></span>
                    <h3>Lịch Sử Khám Bệnh</h3>
                </a>
                <a class="menu-item"  href="/indexLogin">
                    <span><i class="fa-solid fa-gear"></i></span>
                    <h3>Thoát</h3>
                </a>
            </div>
        </div>
        {% endblock %}
    {% block middle %}
<div class="header-title">Lịch Hẹn Khám Bệnh</div>
            {% for lichkham in list_lichkham %}
       <div class="appointment-wrapper">
        <div class="appointment-card">
            <button class="close-btn">&times;</button>
            <div class="appointment-title">Lịch khám {{name_department}}</div>
            <p>Lịch hẹn vào {{ lichkham.time }}  ngày {{ lichkham.date }}</p>
            <button class="details-btn" onclick="showDetails('Lịch khám {{name_department}}', '{{ lichkham.time }}  ngày {{ lichkham.date }}',)">Xem Chi Tiết</button>

        </div>
    </div>
    <div class="modal" id="detailsModal">
    <div class="modal-content">
        <h3>Lịch Hẹn Khám {{ lichkham.department.name }}</h3>
        <button class="modal-close" onclick="closeModal()">&times;</button>
        <form class="modal-form">
            <div class="form-group">
                <label for="appointmentDate">Ngày giờ hẹn</label>
                <input type="text" id="appointmentDate" readonly value="">
            </div>
            <div class="form-group">
                <label for="created_date">Ngày đặt lịch</label>
                <input type="text" id="created_date" value="{{ lichkham.created_date }}" readonly>
            </div>
            <div class="form-group">
                <label for="co_so">Cơ sở</label>
                <input type="text" id="co_so" value="{{ lichkham.location }}" readonly>
            </div>
            <div class="form-group">
                <label for="goi">Gói</label>
                <input type="text" id="goi" value="{{ lichkham.package.value }}" readonly>
            </div>
            <div class="form-group">
                <label for="bacsi">Bác sĩ</label>
                <input type="text" id="bacsi" value="{{ lichkham.doctor.name }}" readonly>
            </div>
            <div class="form-group">
                <label for="trangthai">Trạng thái</label>
                <input type="text" id="trangthai" value="{{ lichkham.status }}" readonly>
            </div>
            <div class="form-group">
                <label for="appointmentReason">Ghi chú</label>
                <textarea id="appointmentReason" rows="3" readonly></textarea>
            </div>
        </form>
    </div>
</div>

 {% endfor %}
        {% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/medicalbook/schedule.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
